In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_df = pd.read_csv('./train.csv')
test_df = pd.read_csv('./test.csv')
desc = pd.read_csv('./data_description.csv')
pd.set_option('display.max_colwidth', -1)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  after removing the cwd from sys.path.

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11153 entries, 0 to 11152
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   job_level                              11153 non-null  object
 1   job_duration_in_current_job_level      11153 non-null  float64
 2   person_level                           11153 non-null  object
 3   job_duration_in_current_person_level   11153 non-null  float64
 4   job_duration_in_current_branch         11153 non-null  float64
 5   Employee_type                          11153 non-null  object
 6   gender                                 11153 non-null  int64
 7   age                                    11153 non-null  int64
 8   marital_status_maried(Y/N)             11153 non-null  object
 9   number_of_dependences                  11153 non-null  int64
 10  Education_level                        11153 non-null  object
 11  GPA                                    11153 non-null  float64
 12  year_graduated                         11153 non-null  int64
 13  job_duration_from_training             11153 non-null  int64
 14  branch_rotation                        11153 non-null  int64
 15  job_rotation                           11153 non-null  int64
 16  assign_of_otherposition                11153 non-null  int64
 17  annual leave                           11153 non-null  int64
 18  sick_leaves                            11153 non-null  int64
 19  Last_achievement_%                     11152 non-null  float64
 20  Achievement_above_100%_during3quartal  11152 non-null  float64
 21  Best Performance                       11153 non-null  int64
dtypes: float64(6), int64(11), object(5)
memory usage: 1.9+ MB

In [4]:
train_df.head()

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,gender,age,marital_status_maried(Y/N),number_of_dependences,...,year_graduated,job_duration_from_training,branch_rotation,job_rotation,assign_of_otherposition,annual leave,sick_leaves,Last_achievement_%,Achievement_above_100%_during3quartal,Best Performance
0,JG04,1.352775,PG03,1.352775,1.732051,RM_type_A,2,1985,Y,1,...,2011,4,2,3,2,3,0,46.37,0.0,0
1,JG04,1.292285,PG03,1.292285,1.039230,RM_type_A,2,1989,Y,0,...,2007,4,4,3,0,0,1,47.68,0.0,0
2,JG05,2.565151,PG06,2.308679,1.780449,RM_type_C,1,1970,Y,1,...,1989,28,10,9,6,2,1,40.73,0.0,0
3,JG05,2.828427,PG06,1.000000,1.385641,RM_type_A,2,1967,Y,2,...,1987,29,11,6,0,4,10,47.42,0.0,1
4,JG05,2.828427,PG06,2.828427,0.707107,RM_type_A,2,1965,Y,3,...,1985,30,9,8,2,3,0,47.18,0.0,0

In [5]:
train_df.dropna(inplace=True)

In [6]:
train_df.shape

(11152, 22)

In [7]:
test_df.shape

(6000, 21)

# Data Transformation

### GPA

In [23]:
gpa = train_df['GPA'].tolist()
for n, i in enumerate(gpa):
    if i >= 5.00 or i <= 2.00:
        gpa[n] = np.nan
train_df['GPA'] = pd.Series(gpa)
train_df['GPA'].fillna(0, inplace=True)

In [24]:
gpa = test_df['GPA'].tolist()
for n, i in enumerate(gpa):
    if i >= 5.00 or i <= 2.00:
        gpa[n] = np.nan
test_df['GPA'] = pd.Series(gpa)
test_df['GPA'].fillna(0, inplace=True)

### Age

In [12]:
age = train_df['age'].tolist()
age = [2020-i for i in age]
train_df['age'] = pd.Series(age)

In [19]:
train_df['age'].fillna('40', inplace=True)

In [20]:
age = test_df['age'].tolist()
age = [2020-i for i in age]
test_df['age'] = pd.Series(age)