In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
desc = pd.read_csv('data_description.csv')

In [4]:
pd.set_option('display.max_colwidth', -1)
desc

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

,Kolom,Keterangan
0,job_level,Level Jabatan Pekerja
1,job_duration_in_current_job_level,Masa Kerja pada job level saat ini
2,person_level,Level personal Pekerja
3,job_duration_in_current_person_level,Masa Kerja pada person level saat ini
4,job_duration_in_current_branch,Masa Kerja pada unit kerja saat ini
5,Employee_type,"Tipe Pekerja ( 3 tipe Relationship Manager, tipe A, B , dan C)"
6,gender,Jenis Kelamin
7,age,Usia
8,marital_status_maried(Y/N),Status Pernikahan (Y / N)
9,number_of_dependences,Jumlah anak dalam tanggungan
10,Education_level,Tingkat pendidikan
11,GPA,IPK
12,year_graduated,Tahun lulus
13,job_duration_from_training,lama bekerja mulai dari training
14,branch_rotation,Jumlah rotasi pindah unit kerja
15,job_rotation,jumlah rotasi pindah jabatan
16,assign_of_otherposition,jumlah rotasi penugasan
17,annual leave,jumlah cuti tahunan
18,sick_leaves,jumlah izin sakit
19,Last_achievement_%,presentase pencapaian triwulan terakhir terhadap target
20,Achievement_above_100%_during3quartal,Jumlah pencapaian diatas 100% dalam 3 tahun terkahir
21,Best Performance,Termasuk dalam best performance (1/0)

In [7]:
train.isnull().sum()

job_level                                0
job_duration_in_current_job_level        0
person_level                             0
job_duration_in_current_person_level     0
job_duration_in_current_branch           0
Employee_type                            0
gender                                   0
age                                      0
marital_status_maried(Y/N)               0
number_of_dependences                    0
Education_level                          0
GPA                                      0
year_graduated                           0
job_duration_from_training               0
branch_rotation                          0
job_rotation                             0
assign_of_otherposition                  0
annual leave                             0
sick_leaves                              0
Last_achievement_%                       1
Achievement_above_100%_during3quartal    1
Best Performance                         0
dtype: int64

In [11]:
train.loc[train['Last_achievement_%'].isnull()]

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,gender,age,marital_status_maried(Y/N),number_of_dependences,...,year_graduated,job_duration_from_training,branch_rotation,job_rotation,assign_of_otherposition,annual leave,sick_leaves,Last_achievement_%,Achievement_above_100%_during3quartal,Best Performance
1882,JG04,1.292285,PG03,1.292285,0.911043,RM_type_A,1,1991,N,0,...,2012,5,4,5,0,1,15,NaN,NaN,0

In [12]:
train = train.loc[~train['Last_achievement_%'].isnull()]

In [18]:
X = train[['Education_level', 'age', 'job_duration_from_training', 
           'Achievement_above_100%_during3quartal', 'Last_achievement_%']]

In [21]:
y = train['Best Performance']

In [22]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [23]:
X

array([[ 1.  ,  0.  ,  0.  , ...,  4.  ,  0.  , 46.37],
       [ 0.  ,  1.  ,  0.  , ...,  4.  ,  0.  , 47.68],
       [ 0.  ,  1.  ,  0.  , ..., 28.  ,  0.  , 40.73],
       ...,
       [ 0.  ,  0.  ,  0.  , ...,  2.  ,  0.  , 78.38],
       [ 0.  ,  0.  ,  0.  , ...,  5.  ,  1.  , 85.94],
       [ 0.  ,  0.  ,  0.  , ..., 14.  ,  1.  , 79.99]])

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=1)

In [26]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [27]:
from sklearn.svm import SVC
SVMclassifier = SVC(kernel = 'linear', random_state = 0)
SVMclassifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [28]:
y_pred = SVMclassifier.predict(X_test)

In [29]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[2366    0]
 [ 422    0]]

0.8486370157819225

In [31]:
test = test[['Education_level', 'age', 'job_duration_from_training', 
           'Achievement_above_100%_during3quartal', 'Last_achievement_%']]

In [32]:
test = np.array(ct.fit_transform(test))

In [33]:
test = sc.transform(test)

In [34]:
y_pred = SVMclassifier.predict(test)

In [37]:
df = pd.DataFrame(y_pred)

In [38]:
df.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'