In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
trainSet = pd.read_csv("./train.csv")
testSet = pd.read_csv("./test.csv")

In [4]:
trainSet.head()

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,gender,age,marital_status_maried(Y/N),number_of_dependences,...,year_graduated,job_duration_from_training,branch_rotation,job_rotation,assign_of_otherposition,annual leave,sick_leaves,Last_achievement_%,Achievement_above_100%_during3quartal,Best Performance
0,JG04,1.352775,PG03,1.352775,1.732051,RM_type_A,2,1985,Y,1,...,2011,4,2,3,2,3,0,46.37,0.0,0
1,JG04,1.292285,PG03,1.292285,1.039230,RM_type_A,2,1989,Y,0,...,2007,4,4,3,0,0,1,47.68,0.0,0
2,JG05,2.565151,PG06,2.308679,1.780449,RM_type_C,1,1970,Y,1,...,1989,28,10,9,6,2,1,40.73,0.0,0
3,JG05,2.828427,PG06,1.000000,1.385641,RM_type_A,2,1967,Y,2,...,1987,29,11,6,0,4,10,47.42,0.0,1
4,JG05,2.828427,PG06,2.828427,0.707107,RM_type_A,2,1965,Y,3,...,1985,30,9,8,2,3,0,47.18,0.0,0

In [5]:
testSet.head()

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,gender,age,marital_status_maried(Y/N),number_of_dependences,...,GPA,year_graduated,job_duration_from_training,branch_rotation,job_rotation,assign_of_otherposition,annual leave,sick_leaves,Last_achievement_%,Achievement_above_100%_during3quartal
0,JG04,1.256981,PG03,1.256981,0.707107,RM_type_A,1,1988,N,0,...,3.08,2009,6,4,2,6,3,7,84.02,0.0
1,JG04,1.224745,PG03,1.224745,1.256981,RM_type_B,2,1991,N,0,...,3.31,2014,2,2,2,0,1,0,63.74,0.0
2,JG04,0.500000,PG03,0.500000,1.081665,RM_type_A,2,1989,Y,1,...,3.44,2011,4,2,2,0,2,1,88.19,1.0
3,JG04,1.256981,PG03,1.256981,1.802776,RM_type_A,2,1990,Y,1,...,0.00,2014,3,1,3,0,3,0,25.94,0.0
4,JG04,1.352775,PG03,1.352775,1.224745,RM_type_B,1,1985,Y,0,...,3.34,2007,5,3,2,0,3,0,82.32,0.0

In [6]:
trainSet.isna().sum()

job_level                                0
job_duration_in_current_job_level        0
person_level                             0
job_duration_in_current_person_level     0
job_duration_in_current_branch           0
Employee_type                            0
gender                                   0
age                                      0
marital_status_maried(Y/N)               0
number_of_dependences                    0
Education_level                          0
GPA                                      0
year_graduated                           0
job_duration_from_training               0
branch_rotation                          0
job_rotation                             0
assign_of_otherposition                  0
annual leave                             0
sick_leaves                              0
Last_achievement_%                       1
Achievement_above_100%_during3quartal    1
Best Performance                         0
dtype: int64

In [7]:
trainSet.dropna(inplace=True)

In [8]:
features = ['job_duration_in_current_job_level', 'job_duration_in_current_person_level',
            'job_duration_in_current_branch', 'Employee_type', 'Last_achievement_%', 
             'Achievement_above_100%_during3quartal', 'Best Performance']

In [9]:
trainSet = trainSet.loc[:, features]

In [10]:
trainSet.isna().any()

job_duration_in_current_job_level        False
job_duration_in_current_person_level     False
job_duration_in_current_branch           False
Employee_type                            False
Last_achievement_%                       False
Achievement_above_100%_during3quartal    False
Best Performance                         False
dtype: bool

In [11]:
trainSet.head()

,job_duration_in_current_job_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,Last_achievement_%,Achievement_above_100%_during3quartal,Best Performance
0,1.352775,1.352775,1.732051,RM_type_A,46.37,0.0,0
1,1.292285,1.292285,1.039230,RM_type_A,47.68,0.0,0
2,2.565151,2.308679,1.780449,RM_type_C,40.73,0.0,0
3,2.828427,1.000000,1.385641,RM_type_A,47.42,0.0,1
4,2.828427,2.828427,0.707107,RM_type_A,47.18,0.0,0

In [12]:
X = trainSet.loc[:, ['Last_achievement_%']]
y = trainSet['Best Performance']

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
logreg = LogisticRegression(solver='lbfgs')

In [15]:
from sklearn.model_selection import cross_val_score

In [16]:
cross_val_score(logreg, X, y, cv=5, scoring='accuracy').mean()

0.8532102276724427

In [17]:
y.value_counts(normalize=True)

0    0.85321
1    0.14679
Name: Best Performance, dtype: float64

In [18]:
X = trainSet.drop('Best Performance', axis='columns')

In [19]:
X.head()

,job_duration_in_current_job_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,Last_achievement_%,Achievement_above_100%_during3quartal
0,1.352775,1.352775,1.732051,RM_type_A,46.37,0.0
1,1.292285,1.292285,1.039230,RM_type_A,47.68,0.0
2,2.565151,2.308679,1.780449,RM_type_C,40.73,0.0
3,2.828427,1.000000,1.385641,RM_type_A,47.42,0.0
4,2.828427,2.828427,0.707107,RM_type_A,47.18,0.0

In [20]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

In [21]:
column_trans = make_column_transformer(
    (OneHotEncoder(), ['Employee_type']),
    remainder='passthrough')

In [22]:
from sklearn.pipeline import make_pipeline

In [23]:
pipe = make_pipeline(column_trans, logreg)

In [24]:
cross_val_score(pipe, X, y, cv=5, scoring="accuracy").mean()

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.8532102276724427

In [25]:
test_features = ['job_duration_in_current_job_level', 'job_duration_in_current_person_level',
            'job_duration_in_current_branch', 'Employee_type', 'Last_achievement_%', 
             'Achievement_above_100%_during3quartal']

In [26]:
testSet = testSet.reindex(columns = test_features)

In [27]:
testSet.shape

(6000, 6)

In [28]:
testSet.columns

Index(['job_duration_in_current_job_level',
       'job_duration_in_current_person_level',
       'job_duration_in_current_branch', 'Employee_type', 'Last_achievement_%',
       'Achievement_above_100%_during3quartal'],
      dtype='object')

In [29]:
X.columns

Index(['job_duration_in_current_job_level',
       'job_duration_in_current_person_level',
       'job_duration_in_current_branch', 'Employee_type', 'Last_achievement_%',
       'Achievement_above_100%_during3quartal'],
      dtype='object')

In [30]:
pipe.fit(X, y)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories='auto',
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                sparse=True),
                                                  ['Employee_type'])],
                                   verbose=False)),
                ('logisticregression',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [32]:
pipe.predict_proba(testSet)

array([[0.87063696, 0.12936304],
       [0.8397184 , 0.1602816 ],
       [0.87720068, 0.12279932],
       ...,
       [0.84151699, 0.15848301],
       [0.86854165, 0.13145835],
       [0.86447681, 0.13552319]])

In [33]:
newPred = pd.Series(pipe.predict(testSet))

In [34]:
newPred.value_counts()

0    6000
dtype: int64

In [35]:
testSet.columns

Index(['job_duration_in_current_job_level',
       'job_duration_in_current_person_level',
       'job_duration_in_current_branch', 'Employee_type', 'Last_achievement_%',
       'Achievement_above_100%_during3quartal'],
      dtype='object')

In [36]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)

In [37]:
pipe = make_pipeline(column_trans, knn)
cross_val_score(pipe, X, y, cv=5, scoring="accuracy").mean()

0.8380558899968443

In [42]:
from sklearn.svm import SVC
svc = SVC(probability=True)

In [43]:
pipe = make_pipeline(column_trans, svc)
cross_val_score(pipe, X, y, cv=5, scoring="accuracy").mean()

0.8532102276724427

In [44]:
pipe.fit(X, y)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories='auto',
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                sparse=True),
                                                  ['Employee_type'])],
                                   verbose=False)),
                ('svc',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='scale', kernel='rbf', max_iter=-1, probability=True,
                     random_state=None, shrinking=True, tol=0.001,
                     verbose=False))],
         verbose=False)

In [45]:
pipe.predict_proba(testSet)

array([[0.85944382, 0.14055618],
       [0.85533155, 0.14466845],
       [0.85716446, 0.14283554],
       ...,
       [0.86892005, 0.13107995],
       [0.85954062, 0.14045938],
       [0.8556428 , 0.1443572 ]])

In [46]:
newPred = pd.DataFrame(pipe.predict(testSet))
newPred

      0
0     0
1     0
2     0
3     0
4     0
...  ..
5995  0
5996  0
5997  0
5998  0
5999  0

[6000 rows x 1 columns]

In [47]:
newPred = newPred.rename(columns={0: "Best Performance"})

In [48]:
newPred['index'] = newPred.index

In [49]:
newPred = newPred[['index', 'Best Performance']]

In [51]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()

In [52]:
pipe = make_pipeline(column_trans, rfc)
cross_val_score(pipe, X, y, cv=5, scoring="accuracy").mean()

0.8086438746324216

In [53]:
pipe.fit(X, y)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories='auto',
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                sparse=True),
                                                  ['Employee_type'])],
                                   verbose=False)),
                ('randomforestclassifier',
                 R...rue, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=None, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [54]:
newPred = pd.DataFrame(pipe.predict_proba(testSet))

In [55]:
newPred = newPred.rename(columns={0: "Best Performance"})
newPred['index'] = newPred.index
newPred = newPred[['index', 'Best Performance']]

In [ ]:
newPred.to_csv(r'./steven_ftw_rfc_proba.csv', index=False, header=True)